.bg3 {
    background-image: url("../images/sc/bg3.jpg");
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.bg3 h2 {
    height: 88px;
    width: 305px;
    background-image: url("../images/icon/标题.png");
    color: white;
    line-height: 88px;
    text-align: center;
    font-size: 35px;
    left: 50%;
    letter-spacing: 10px;
    position: absolute;
    margin-left: -152.5px;
    top: 10px;
    opacity: 0;
}

.bg3 .center {
    height: 500px;
    width: 100%;
    top: 300px;
    position: absolute;
    opacity: 0;
}

.bg3 .left {
    height: 100%;
    width: 200px;
    background-color: #fff573;
    float: left;
    position: relative;
    overflow: hidden;
}
.bg3 .icon{
    width: 190px;
    background-color: rgb(219, 212, 183);
    height: 100%;
    position: relative;
}

.bg3 .icons {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50px;
    width: 105px;
}

.bg3 .icons ul li {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    background-color: rgb(219, 212, 183);
    position:  relative;
    cursor: pointer;
}

.bg3 .icons ul li i{
    position:  absolute;
    top: 80px;
    left: 50%;
    margin-left: -10px;
    height: 2px;
    width: 20px;
    display: block;
    background-color: rgb(168, 121, 70);

}
.bg3 .icons ul li span{
    position:  absolute;
    font-weight: bold;
    color: #333333;
    display: block;
    top: 85px;
    left: 50%;
    width: 100px;
    text-align: center;
    margin-left: -50%;
}



.bg3 .icons ul li img {
    display: block;
    margin: 0 auto;
    padding-top: 3px;
}


.bg3 .scroll {
    width: 10px;
    height: 100%;
    background-color: rgb(41, 41, 41);
    position: absolute;
    top: 0;
    right: 0;
}

.bg3 .scroll .bar {
    width: 100%;
    height: 150px;
    border-radius: 15px;
    background-color: #7b7b7b;
}


.bg3 .right {
    height: 100%;
    float: left;
    width: 1000px;
    background-image: url("../images/sc/ai.jpg");
}
.bg3 .right .title{
    width: 250px;
    height: 75px;
    margin-top: 20px;
    margin-left: 40px;
    position: relative;
}
.bg3 .right .title .quan{
    width: 75px;
    height: 75px;
    border: 3px solid black;
    border-radius: 50%;
}

.bg3 .right .title .quan img {
    margin:  0 auto;
    display: block;
    width: 50px;
    height: 46px;
    padding-top: 12.5px;
}

.bg3 .right .title span {
    font-size: 24px;
    color: black;
    position:  absolute;
    top: 20px;
    letter-spacing: 5px;
    left: 90px;
}

.bg3 .xian{
    margin-left: 50px;
    margin-top: 25px;
}

.bg3 .font{
    width: 100%;
    height:100px;
    margin-left: 30px;
}
.bg3 .font .font-text{
    margin-top: 20px;
    margin-left: 30px;
}
.bg3 .font .text {
    font-size: 24px;
    color: #000000;
}
.bg3 .font .center2{
    color: #333333;
    line-height: 20px;
    height: 20px;
    font-size: 18px;
    padding-left: 5px;
}

.bg3 .font .font-array ul{
    margin: 80px auto;
    width: 900px;
}
.bg3 .font .font-array ul li{
    margin-top: 20px;
    float: left;
    position: relative;
    margin-right: 25px;
}
.bg3 .font .font-array ul li img{
    border: 1px solid orange;
    width: 75px;
    height: 75px;
}
.bg3 .font .font-array ul li span{
    position: absolute;
    width: 75px;
    top: 85px;
    left: 0;
    font-size: 16px;
    text-align: center;
    color: rgb(0, 0, 0);
}